<h4 class="ui center aligned medium icon header">
  <i class='circular coffee icon'>
  </i>
</h4>
<div class="ui comments">
  <h3 class="ui dividing header">Messages</h3>
  <div class="ui feed" id="message_container">
  <%= render @messages %>
  </div>
  <%= form_with model: @message, url: messages_path, html:{class:'ui reply form'}, remote:true do |f| %>
    <div class="field">
      <div class="ui fluid icon input">
        <%= f.text_field :body %> 
        <%= f.button '<i class="bordered orange edit icon"></i>'.html_safe %>
      </div>
    </div>
    <% end %>
</div>
